header {
    position: fixed;
    top: 0;
    right: 0;
    left: 60px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
    background: var(--color-light);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px); /* Safari */
    -moz-backdrop-filter: blur(4px); /* Firefox */
    -o-backdrop-filter: blur(4px); /* Opera */
    -ms-backdrop-filter: blur(4px); /* Internet Explorer */
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    z-index: 99;
}
.brand-name {
    flex-shrink: 0;
    padding: 0.2em;
}
.brand-name span {
    color: var(--color-info-dark);
}
.header-right-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
    width: 400px;
}
.query-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.query-container input {
    padding: 0.7em 3em 0.7em 0.7em;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    width: 100%;
    background-color: transparent;
    font-weight: bold;
    color: inherit;
    }
.query-container input:focus {
    outline: 2px solid var(--color-primary);
}
.query-container button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-theme-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-color: var(--color-light);
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}
.toggle-theme-container svg{
    fill: var(--color-dark);
    border-radius: 7px;
    padding: 6px;
}
.toggle-theme-container .isToggle {
    fill:  white;
    background-color: var(--color-primary);
}
nav button {
    background-color: transparent;
}
